body {
    margin: 0;
    font-family: "sans-serif", Helvetica, Arial, sans-serif;
    color: #333;
    background: white;
}
.toolbar {
    background: #2a82f2;
    height: 85px;
    padding: 10px;
}
.toolbar > img {
  margin-top: 20px;
}
core-scaffold::shadow core-toolbar {
    background: #2a82f2;
    height: 85px;
}
core-scaffold::shadow core-toolbar core-icon-button {
  margin-top: 50px;
}
core-header-panel {
  background: #5a616a;
  color: white;
}
#topbar {
    background: #2a82f2;
    height: 85px;
    padding: 10px;
}
#events {
    text-align: center;
}
#events core-icon {
    float: right;
    position: absolute;
    right: 0;
    top: 12px;
}
.raise-a-question {
    height: 45px;
    background: #5a616a;
}
.user-header {
    background: #d0e3fc;
    height: 70px;
    color: #5a616a;
}
.user-name {
    font-size: 20px;
    padding: 15px;
}
.event-post-date {
    font-size: 11px;
    padding: 10px 0;
}
.event-info {
    padding: 15px;
}
.event-title {
    font-size: 20px;
    color: #2a82f2;
    margin-bottom: 10px;
}
.event-text: {
    font-size: 15px;
}
.raise-a-question {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 25px;
    background-image: url(../images/FU_icon.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
}
.your-question {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
}
.question-input {
    width: 100%;
    border: 1px solid #5a616a;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
}
.create-new-container {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 2px;
    text-align: center;
}
.action-button {
    background: #2a82f2;
    color: white;
    width: 100%;
    max-width: 290px;
    border-radius: 2px;
}

#qrcode-container{
	clear:both;
	margin: 0;
	text-align: center;
	background: white;
	border:10px solid #d0e3fc;
}
.qrcode{
	max-width: 300px;
}

.event-container{
	background: #d0e3fc;
	border:20px solid white;
}
.event-header{
	
}
.event-description{
	font-size: 20px;
    color: #2a82f2;
    margin-bottom: 10px;
    margin-top:10px;
	padding: 0px 0px 0px 15px;
}
.event-creator{
	font-size: 20px;
    padding: 0px 0px 0px 15px;
}

.followup-icon{
	float:right;
	padding-right: 10px;
}
.followup-url{
	clear:both;
	text-align:right;
	float:right;
	font-size: 10pt;
}

.followup-url div{
	float:left;
}
.followup-url div.blue{
	text-align:left;
	float:left;
	color:#2a82f2;
	padding-right: 10px;
}
.share{
	color:#2a82f2;
	margin: 0;
	text-align: center;
	background-color:white;
	font-size: 13pt;
	padding-bottom: 15px;
}
.event-data{
	background: white;
	height: 100%;
}
.socials{
	background-color:white;
	float: left;
	width: 100%;
	padding-top:0px;
	background:white;
	clear:both;
	padding-right:20px;
	padding-left:20px;
}
.socials .left{
	float:left;
	width: 40%;
}
.socials .right{
	float:left;
	width: 50%;
}

.social{
	float:right;
	padding-left:10px;
}

.back-discussions{
	clear:both;
	background: white;
	padding-top:20px;
	margin: 0;
	text-align: center;
}
scaffold-template /deep/ #mainContainer{
	
	
}
