#events {
    text-align: center;
}
#events core-icon {
    float: right;
    position: absolute;
    right: 0;
    top: 12px;
}
.raise-a-question {
    height: 45px;
    background: #5a616a;
}
.user-header {
    background: #d0e3fc;
    height: 70px;
    color: #5a616a;
}
.user-name {
    font-size: 20px;
    padding: 15px;
}
.event-post-date {
    font-size: 11px;
    padding-top: 10px;
}
.event-info {
    padding: 15px;
}
.event-title {
    font-size: 20px;
    color: #2a82f2;
    margin-bottom: 10px;
}
.event-text: {
    font-size: 15px;
}
.raise-a-question {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 25px;
    background-image: url(../../images/FU_icon.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
}
.your-question {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
}
.question-input {
    width: 100%;
    border: 1px solid #5a616a;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
}
.create-new-container {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 2px;
    text-align: center;
}
.action-button {
    background: #2a82f2;
    color: white;
    width: 100%;
    max-width: 290px;
    border-radius: 2px;
}